@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Greetings and a warm welcome to Cloud Genius! Congratulations on your successful deployment and welcome to the exciting journey of becoming a billionaire..</h1>
    <p>Learn about <a href="https://cloudgeniustraining.com/">Azure Devops with CloudGenius</a>.</p>
</div>
